@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.admission-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    font-family:'Times New Roman', Times, serif;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.admission-container .admission{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
}
.admission:hover{
    transform: scale(90deg);
    box-shadow: 0 4px 8px rgb(235, 120, 25);
    transition: transform 0.3s ease;

}
.admission{
    background-color: #e8e5e5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2{
    font-family: "Poppins", sans-serif;
    text-align: center;
}
p{
    padding: 10px;
    font-family:"Roboto", sans-serif;
}
.LKG{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-left: 80px;
}
@media (max-width: 600px) {
    .admission-container {
      grid-template-columns: 1fr;
    }
  }